@model IMAS.PresentationModel.Model.Advertisment.NormalCarouselPM
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.MaximumRotationalDiameter, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.MaximumRotationalDiameter)
            @Html.LabelFor(model => model.MaximumRotationalDiameter)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.TableDiameter, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.TableDiameter)
            @Html.LabelFor(model => model.TableDiameter)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.MaximumHiegh, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.MaximumHiegh)
            @Html.LabelFor(model => model.MaximumHiegh)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.MaximumAllowedLoad, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.MaximumAllowedLoad)
            @Html.LabelFor(model => model.MaximumAllowedLoad)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.TableRotationSpeed, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.TableRotationSpeed)
            @Html.LabelFor(model => model.TableRotationSpeed)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.RotationSpeedNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.RotationSpeedNumber)
            @Html.LabelFor(model => model.RotationSpeedNumber)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.MovementSpeed, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.MovementSpeed)
            @Html.LabelFor(model => model.MovementSpeed)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.MovementSpeedNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.MovementSpeedNumber)
            @Html.LabelFor(model => model.MovementSpeedNumber)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.RamHorizontalCourse, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.RamHorizontalCourse)
            @Html.LabelFor(model => model.RamHorizontalCourse)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.RamVerticalCourse, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.RamVerticalCourse)
            @Html.LabelFor(model => model.RamVerticalCourse)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
            @Html.TextBoxFor(model => model.MainEnginePower, new { @class = "form-control" })
            @Html.ValidationMessageFor2(model => model.MainEnginePower)
            @Html.LabelFor(model => model.MainEnginePower)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-md-line-input form-md-floating-label">
        </div>
    </div>
</div>