@model IMAS.PresentationModel.Model.Advertisment.CncMillingPM
<div class="portlet light ">
    <div class="portlet-body form">
        <div class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.AxisNumber)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.AxisNumber
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.TableWidth)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.TableWidth
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.TableHeight)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.TableHeight
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.TableType)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("TableType_" + Model.TableType).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.BodyType)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("BodyType_" + Model.BodyType).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.MainEngingePower)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.MainEngingePower
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.SpindleGearbox)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.SpindleGearbox.ToString().Localize()
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.SpindleRound)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.SpindleRound
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasACAxisEngine)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasACAxisEngine).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasDCAxisEngine)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasDCAxisEngine).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.EnginesMark)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.EnginesMark
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.EngineDriversMark)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.EngineDriversMark
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasBalanceWeight)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasBalanceWeight).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasHydraulicBalanceSystem)
             
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasHydraulicBalanceSystem).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.ToolsHolderType)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("ToolsHolderType_" + Model.ToolsHolderType).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.ToolsCountSimultaneousChange)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.ToolsCountSimultaneousChange
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasSoapWaterSystem)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasSoapWaterSystem).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasToolCenterSoapWater)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasToolCenterSoapWater).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasFourthAxis)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasFourthAxis).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasClamp)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasClamp).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasComputer)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasComputer).Localize())
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.HasAirPump)
                    </div>
                    <div class="col-md-10 form-field">
                        @(("HavingEnum_" + Model.HasAirPump).Localize())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>