@model IMAS.PresentationModel.Model.Advertisment.NormalCarouselPM
<div class="portlet light ">
    <div class="portlet-body form">
        <div class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.MaximumRotationalDiameter)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.MaximumRotationalDiameter
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.TableDiameter)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.TableDiameter
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.MaximumHiegh)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.MaximumHiegh
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.MaximumAllowedLoad)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.MaximumAllowedLoad
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.RamHorizontalCourse)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.RamHorizontalCourse
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.RamVerticalCourse)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.RamVerticalCourse
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 form-lable">
                        @Html.LabelFor(model => model.MainEnginePower)
                    </div>
                    <div class="col-md-10 form-field">
                        @Model.MainEnginePower
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>