@model IMAS.UI.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title = "";
    ViewBag.ActiveMenu = "Home";
}

<div class="row">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                   جدیدترین آگهی ها
                </div>
            </div>
            <div class="container-fluid">

                <div id="advertisments" class="row list-group">
                    @foreach (var advertisment in Model.LatestAdvertisments)
                    {
                        <div class="item  col-sm-4 ">
                            <div class="thumbnail">
                                <img class="group list-group-image" src='@("/AdImages/Pic400x250/" + (advertisment.FistImageName ?? "default")+ ".png")' alt="تصویر آگهی" />
                                <div class="caption number-fa">
                                    <h4 class="group inner list-group-item-heading">
                                        @advertisment.Title
                                    </h4>
                                    <h5 class="group inner list-group-item-text">
                                        @advertisment.RegisterDateString
                                    </h5>
                                    <h6>
                                        @((advertisment.Price == 0)? "قیمت تعیین نشده" :string.Format("{0:n0}", advertisment.Price) + "تومان")
                                    </h6>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary btn-lg btn-block" href="~/advertisment/@advertisment.Id">مشاهده آگهی</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
               
            </div>
        </div>
        <div class="center">
            <!-- Image loader -->
            <div id='loader' class="LoaderImage display-none">
                <img src="~/Content/assets/global/img/loader.gif" alt="loader"/>
            </div>
            <!-- Image loader -->
        </div>
    </div>
</div>

@section PageScripts {
    @Scripts.Render("~/Content/assets/pages/scripts/visitor_home_index.js")
}

@section Head {
<script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type":"WebSite",
    "name":"طاها سی ان سی",
    "alternateName":"ثبت آگهی خرید و فروش دستگاه های صنعتی",
    "description":"سایت تخصصی ثبت رایگان آگهی خرید و فروش دستگاه های صنعتی",
    "url": "http://tahacnc.com",
    "sameAs": [
    "https://www.linkedin.com/company/tahacnc",
    "https://t.me/CNCMACHINES",
    "https://twitter.com/tahacnc",
    "https://www.facebook.com/tahacnc",
    "https://plus.google.com/b/tahacnc"
    ],
    "potentialAction":{
    "@@type" :"SearchAction",
    "target":"http://tahacnc.com/search/?title={search_term_string}",
    "query-input": "required name=search_term_string"
    }
    }
</script>

    <meta name="description" content="ثبت آگهی خرید و فروش دستگاه های صنعتی" />
    @Styles.Render("~/visitor-area-home-page-styles")
    }

@section PageHead {}

@section PageBreadcrumb {}
